.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button:hover{
  filter: brightness(0.8); /* Makes the button a little darker on hover */
}

.button_yellow {
  background-color: #d69e2e; 
  border: none;
  color: white;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block; 
  font-size: 15px; 
  margin: 0; 
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
}

.button_orange {
  background-color: #dd6b20; 
  border: none;
  color: white;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block; 
  font-size: 15px; 
  margin: 0; 
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
}

.button_blue {
  background-color: #3182ce; 
  border: none;
  color: white;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block; 
  font-size: 15px; 
  margin: 0; 
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
}

.button_red {
  background-color: #e53e3e; 
  border: none;
  color: white;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block; 
  font-size: 15px; 
  margin: 0; 
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
}

.button_green {
  background-color: #04AA6D; 
  border: none;
  color: white;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block; 
  font-size: 15px; 
  margin: 0; 
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
}

.button {
  background-color: #4a5568; 
  border: none;
  color: white;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block; 
  font-size: 15px; 
  margin: 0; 
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
